
h1{
    font-family: Prata,Helvetica Neue,Helvetica,Arial,sans-serif;
}
*{ font-family: Helvetica Neue,Helvetica,Arial,sans-serif;}

#index-img{
    height: 389px;
    width: auto;  
    display: block;
    margin: 0 180px;
}



.recipie{
    height: 250px;
    width: auto;
    border-radius: 8px;
}
